<div id="<%= dom_id responsavel %>">
  <p>
    <strong>Aluno:</strong>
    <%= responsavel.aluno_id %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= responsavel.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= responsavel.cpf %>
  </p>

  <p>
    <strong>Contato:</strong>
    <%= responsavel.contato %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= responsavel.status %>
  </p>

</div>
