<div id="<%= dom_id aluno %>">
  <p>
    <strong>Nome:</strong>
    <%= aluno.nome %>
  </p>

  <p>
    <strong>Serie:</strong>
    <%= aluno.serie %>
  </p>

  <p>
    <strong>Turno:</strong>
    <%= aluno.turno %>
  </p>

  <p>
    <strong>Ra:</strong>
    <%= aluno.ra %>
  </p>

</div>
